<div class="container-fluid">
    <div id="home" class="hero row align-items-center scroll_section">
        <div class="col-lg-3 offset-lg-2">
            <div class="container" style="margin: 50px auto"></div>
            <div class="row">
                <div class="col">

                </div>
            </div>
            <h2><p class="text-right">Hola {{ usuario }} !</p></h2>
            <h1><p>¡Proximamente nuevas novedades!</p></h1>
            <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</div>
<footer>
    <p class="text-center"><b>Diseñado por: FAguirre</b></p>
</footer>